swagger: '2.0'
info:
  title: MiMQIP API
  description: Endpoints for the MiMQIP API
  version: "1.0.0"
host: api.mimqip
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /patients:
      get:
        summary: Patients
        description: Endpoint returns a list of patients
        tags:
          - patient
        responses:
          200:
            description: Array of rules
            schema:
              type: array
              items:
                $ref: '#/definitions/PatientDto'
  /patients/{id}:
    get:
      summary: Patient by ID
      description: Access a single patient by ID
      tags:
        - patient
      parameters:
        - name: id
          in: path
          description: ID of rule to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Patient
          schema:
            $ref: '#/definitions/PatientDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  PatientDto:
    type: object
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      sex:
        type: string
        enum:
          - MALE
          - FEMALE
      dateOfBirth:
        type: string
        format: 'date'
      valid:
        type: boolean
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
