swagger: '2.0'
info:
  title: MiMQIP API
  description: Endpoints for the MiMQIP API
  version: "1.0.0"
host: api.mimqip
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /patients:
    get:
      summary: Patients
      description: Endpoint returns a list of patients
      operationId: getPatients
      tags:
        - patient
      responses:
        200:
          description: Array of patients
          schema:
            type: array
            items:
              $ref: '#/definitions/PatientDto'
    post:
      summary: Post new patient
      description: Post new patient
      operationId: createPatient
      tags:
         - evaluation
      parameters:
        - name: patient
          in: body
          description: Patient to add
          required: true
          schema:
            $ref: '#/definitions/PatientDto'
      responses:
        201:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
  /patients/{patientId}:
    get:
      summary: Patient by ID
      description: Access a single patient by ID
      operationId: getPatientById
      tags:
        - patient
      parameters:
        - name: patientId
          in: path
          description: ID of patient to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Patient
          schema:
            $ref: '#/definitions/PatientDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /medications:
    get:
      summary: Get all medications for patient
      description: Get all medications for patient
      operationId: getPatientMedicationsByPatientId
      tags:
        - medication
      parameters:
        - name: patientId
          in: query
          description: ID of patient to fetch
          required: true
          type: integer
          format: int64
  /evaluations:
    get:
      summary: Get all evaluations for patient
      description: Get all evaluations for patient
      operationId: getEvaluationsByPatientId
      tags:
        - evaluation
      parameters:
        - name: patientId
          in: query
          description: Id of patient evaluations to fetch
          required: true
          type: integer
          format: int64
        - name: evaluationType
          in: query
          description: type of evaluation to pull
          required: true
          type: string
          schema:
           $ref: '#/definitions/EvaluationTypeDto'
      responses:
        200:
          description: Array of evaluations
          schema:
            type: array
            items:
              $ref: '#/definitions/EvaluationDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Post results of new evaluation
      description: Post results of new evaluation
      operationId: createPatientEvaluation
      tags:
         - evaluation
      parameters:
        - name: evaluation
          in: body
          description: Evaluation to submit
          required: true
          schema:
            $ref: '#/definitions/EvaluationDto'
      responses:
        201:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
  /evaluations/{evaluationId}:
    get:
      summary: Get evaluation by id
      description: Get evaluation by id
      operationId: getEvaluationById
      tags:
         - evaluation
      parameters:
        - name: evaluationId
          in: path
          description: Id of evaluation to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /evaluations/blank/{evaluationType}:
    get:
      summary: Get blank evaluation
      description: Get blank evaluation
      operationId: getBlankEvaluation
      tags:
         - evaluation
      parameters:
        - name: evaluationType
          in: path
          description: type of evaluation
          required: true
          type: string
          schema:
           $ref: '#/definitions/EvaluationTypeDto'
      responses:
        200:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  PatientDto:
    type: object
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      sex:
        type: string
        enum:
          - MALE
          - FEMALE
      dateOfBirth:
        type: string
        format: 'date'
      valid:
        type: boolean
      zipCode:
        type: string
      race:
        type: array
        items:
          type: string
          enum:
            - WHITE
            - BLACK
            - INDIAN_AMERICAN
            - ASIAN
            - PACIFIC_ISLANDER
            - NO_RESPONSE
      ethnicity:
        type: string
        enum:
          - HISPANIC
          - NON_HISPANIC
          - NO_RESPONSE
      marital:
        type: string
        enum:
          - MARRIED
          - SINGLE
          - SEPARATED
          - DIVORCED
          - WIDOWED
      living:
        type: string
        enum:
          - ALONE
          - WITH_ROOMMATES
          - WITH_SPOUSE
          - WITH_SPOUSE_AND_CHILDREN
          - WITH_PARENTS
          - GROUP_HOME
      employment:
        type: string
        enum:
          - UNEMPLOYED
          - FULL TIME_SALARIED
          - PART_TIME_SALARIED
          - FULL_TIME_NON_SALARIED
          - PART_TIME_NON_SALARIED
          - SELF_EMPLOYED
      primaryCarePhysicianName:
        type: string
      primaryCarePhysicianEmail:
        type: string
      startDate:
        type: string
        format: 'date-time'
  PatientMedicationDto:
    type: object
    properties:
      genericName:
        type: string
  QuestionDto:
    type: object
    properties:
      prompt:
        type: string
      response:
        type: string
  EvaluationDto:
    type: object
    properties:
      id:
        type: integer
        format: int64
      patientId:
        type: integer
        format: int64
      questions:
        type: array
        items:
          $ref: '#/definitions/QuestionDto'
      created:
        type: string
        format: 'date-time'
      evaluationType:
        type: string
        schema:
          $ref: '#/definitions/EvaluationTypeDto'
  EvaluationTypeDto:
    type: string
    enum:
      - PSYCHIATRIC
      - OTHER_VALUE
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
