swagger: '2.0'
info:
  title: MiMQIP API
  description: Endpoints for the MiMQIP API
  version: "1.0.0"
host: api.mimqip
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /rules:
    get:
      summary: Rules
      description: Endpoint returns a list of rules
      tags:
        - rule
      responses:
        200:
          description: Array of rules
          schema:
            type: array
            items:
              $ref: '#/definitions/Rule'
  /rules/{ruleId}:
    get:
      summary: Message by ID
      description: Access a single rule by ID
      tags:
        - rule
      responses:
        200:
          description: Rule
          schema:
            $ref: '#/definitions/Message'

  /messages:
    get:
      summary: Messages
      description: Endpoint returns a list of messages
      tags:
        - message
      responses:
        200:
          description: An array of messages
          schema:
            type: array
            items:
              $ref: '#/definitions/Message'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /messages/{messageId}:
    get:
      tags:
        - message
      summary: Message by ID
      description: Endpoint returns single message based off the input ID
      parameters:
        - in: path
          name: messageId
          description: ID of message
          required: true
          type: integer
          format: int64
      responses:
        "404":
          description: Pet not found
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/Message'
        "400":
          description: Invalid ID supplied
definitions:
  Message:
    type: object
    properties:
      id:
        type: string
        description: ID of the message
      text:
        type: string
        description: Text of the message
      priority:
        type: string
        description: Priority of the message
      tag:
        type: string
        description: Tag of the message
  Criterion:
    type: object
    properties:
      id:
        type: string
        description: ID of the criterion
      ruleId:
        type: string
        description: Rule ID of the criterion
      priority:
        type: int
        description: Priority of the criterion
      type:
        type: string
        description: Type of criterion
      element:
        type: string
        description:
      operator:
        type: string
        descrption:
      value:
        type: string
        description:
  Treatment:
  Diagnosis:
  Rule:
    id:
      type: string
    priority:
      type: integer
      format: int32
    valid:
      type: boolean
    ruleType:
      type: string
      enum:
        - val1
        - val2
        - val3
        - val4
    name:
      type: string
    criteria:
      type: array
    messages:
      type: array
    diagnoses:
      type: array
  Error:
    type: object
    properties:
      code:
        type: integer
        format:
      message:
        type: string
      fields:
        type: string
