swagger: '2.0'
info:
  title: MiMQIP API
  description: Endpoints for the MiMQIP API
  version: "1.0.0"
host: api.mimqip
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  /patients:
    get:
      summary: Patients
      description: Endpoint returns a list of patients
      operationId: getPatients
      tags:
        - patient
      responses:
        200:
          description: Array of patients
          schema:
            type: array
            items:
              $ref: '#/definitions/PatientDto'
    post:
      summary: Post new patient
      description: Post new patient
      operationId: createPatient
      tags:
         - evaluation
      parameters:
        - name: patient
          in: body
          description: Patient to add
          required: true
          schema:
            $ref: '#/definitions/PatientDto'
      responses:
        201:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
  /patients/{patientId}:
    get:
      summary: Patient by ID
      description: Access a single patient by ID
      operationId: getPatientById
      tags:
        - patient
      parameters:
        - name: patientId
          in: path
          description: ID of patient to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Patient
          schema:
            $ref: '#/definitions/PatientDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /evaluations:
    get:
      summary: Get all evaluations for patient
      description: Get all evaluations for patient
      operationId: getEvaluationsByPatientId
      tags:
        - evaluation
      parameters:
        - name: patientId
          in: query
          description: Id of patient to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Array of evaluations
          schema:
            type: array
            items:
              $ref: '#/definitions/EvaluationDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /evaluations/psychiatric:
    get:
      summary: Get psychiatric evaluations for patient
      description: Get psychiatric evaluations for patient
      operationId: getPsychEvaluationsByPatientId
      tags:
         - evaluation
      parameters:
        - name: patientId
          in: query
          description: Id of patient to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Array of evaluations
          schema:
            type: array
            items:
              $ref: '#/definitions/EvaluationDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Post results of new psychiatric evaluations
      description: Post results of new psychiatric evaluations
      operationId: createPatientPsychEvaluation
      tags:
         - evaluation
      parameters:
        - name: evaluation
          in: body
          description: Evaluation to submit
          required: true
          schema:
            $ref: '#/definitions/EvaluationDto'
      responses:
        201:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
  /evaluations/psychiatric/{evaluationId}:
    get:
      summary: Get psychiatric evaluation by id
      description: Get psychiatric evaluation by id
      operationId: getPsychEvaluationById
      tags:
         - evaluation
      parameters:
        - name: evaluationId
          in: path
          description: Id of evaluation to fetch
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /evaluations/blank/psychiatric:
    get:
      summary: Get blank psychiatric evaluation
      description: Get blank psychiatric evaluation
      operationId: getBlankPsychEvaluation
      tags:
         - evaluation
      responses:
        200:
          description: Evaluation
          schema:
            $ref: '#/definitions/EvaluationDto'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  PatientDto:
    type: object
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      sex:
        type: string
        enum:
          - MALE
          - FEMALE
      dateOfBirth:
        type: string
        format: 'date'
      valid:
        type: boolean
      zipCode:
        type: string
      race:
        type: string
      ethnicity:
        type: string
      marital:
        type: string
      living:
        type: string
      employment:
        type: string
      startDate:
        type: string
        format: 'date-time'
  QuestionDto:
    type: object
    properties:
      prompt:
        type: string
      response:
        type: string
  EvaluationDto:
    type: object
    properties:
      id:
        type: integer
        format: int64
      patientId:
        type: integer
        format: int64
      questions:
        type: array
        items:
          $ref: '#/definitions/QuestionDto'
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
